.App {
  text-align: center;
  background-color: midnightblue;
  height: 100vh;
  display: flex;
}

.AppTic {
  text-align: center;
  background: rgb(40,36,85);
  background: linear-gradient(96deg, rgba(40,36,85,1) 12%, rgba(137,41,154,1) 49%, rgba(11,25,68,0.9231151933429622) 91%);
  height: 100vh;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.home-headder{
  text-align: center;
  margin: auto;
  padding: 10px 0 10px 0;
}

.calc-num {
  text-align: center;
  margin: 5px 5px 5px 5px;
  background-color: orange;
  font-size: 2em;
  border-radius: 20px;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
