h1 {
text-align: center
}

.bdy {
    background-color: #086FA8;
    /* height: 100vh; */
}
.logo {
    max-width: 50%;
    height: 85px;
}

.quest {
background-color: beige;
opacity: 100%;
    
}
.txta {
 background-color: aqua;
 margin: 0,auto;
}